@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@import "@nuxt/ui";


body {
  font-family: "Poppins", sans-serif;
  user-select: none;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}
