@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@import "@nuxt/ui";

/* HEX: #BF092F */
body {
  font-family: "Poppins", sans-serif;
  user-select: none;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  @apply bg-gray-100;
}


@theme {
  --color-primary-dark: oklch(17.574% 0.0122 254.15);
  --ui-primary: var(--color-primary-500);

  --color-primary: oklch(51.125% 0.20195 20.878);
  --color-primary-50: oklch(75.265% 0.14136 7.766);
  --color-primary-100: oklch(72.019% 0.16418 8.9849);
  --color-primary-200: oklch(66.52% 0.20659 12.957);
  --color-primary-300: oklch(62.694% 0.23455 17.722);
  --color-primary-400: oklch(58.693% 0.23276 21.197);
  --color-primary-500: oklch(51.125% 0.20195 20.878);
  --color-primary-600: oklch(40.153% 0.15725 19.732);
  --color-primary-700: oklch(28.645% 0.10952 17.532);
  --color-primary-800: oklch(15.365% 0.05684 9.1224);
  --color-primary-900: oklch(0% 0 none);
  --color-primary-950: oklch(0% 0 none);

  --color-brand: oklch(51.125% 0.20195 20.878);
  --color-brand-50: oklch(75.265% 0.14136 7.766);
  --color-brand-100: oklch(72.019% 0.16418 8.9849);
  --color-brand-200: oklch(66.52% 0.20659 12.957);
  --color-brand-300: oklch(62.694% 0.23455 17.722);
  --color-brand-400: oklch(58.693% 0.23276 21.197);
  --color-brand-500: oklch(51.125% 0.20195 20.878);
  --color-brand-600: oklch(40.153% 0.15725 19.732);
  --color-brand-700: oklch(28.645% 0.10952 17.532);
  --color-brand-800: oklch(15.365% 0.05684 9.1224);
  --color-brand-900: oklch(0% 0 none);
  --color-brand-950: oklch(0% 0 none);
}